<configuration>
    <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>${APPINSIGHTS_INSTRUMENTATIONKEY}</instrumentationKey>
    </appender>

    <root level="ERROR">
        <appender-ref ref="aiAppender"/>
    </root>
    <logger name="com.kotlin.azure.function.functions" level="DEBUG">
        <appender-ref ref="aiAppender"/>
    </logger>
</configuration>